<head>
    <meta name="Keywords" content="{{site.keywords}}"/>
    <meta name="Description" content="{{site.description}}"/>
    <meta name="Robots" content="index,follow" />
    <link href="/assets/images/favicon.ico" rel="shortcut icon" />
    <link rel="stylesheet" href="/assets/css/outdoor.css" type="text/css" />
    <title>{{site.title}}</title>
    {% include facebook-script.html %}
    {% include google-analytics.html %}
        <style type="text/css" media="screen">
            .slides_container {
                width:570px;
                height:270px;
            }
            .slides_container div {
                width:570px;
                height:270px;
                display:block;
            }
        </style>
    {% include scripts.html %}
</head>
